:root {
  --pp-font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --pp-line-height: 1.5;
  font-weight: 400;

  --light-color-: #eef5ff;
  --secodary-color: #b4d4ff;
  --pp-color: #1e81a2;
  --background-color: #86b6f6;
  --main-transition: all 3ms ease-out;
  --font-pp-color: #313437;
  --font-secondary-color: #52585e;
}

.f-container {
  display: flex;
  padding: 10px 10px;
  background: #a8c1d340;
  border-radius: 0.56rem;
  opacity: 0.55;
  border-radius: 4px;
  border-color: #0f0f0f;
  border-radius: 4px;
  border-color: #313437;
}

.select {
  padding: 8px;
  font-size: 16px;
  background: var(--light-color-);
  border: 1px solid #313437;
  border-radius: 4px;
  text-align: center;
  text-overflow: hidden;
  margin-left: 1px;
  text-transform: capitalize;
}
.select::after {
  content: "/25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: var(--main-transition);
}
.select:focus,
.select:hover {
  border: 2px solid var(--pp-color);
}

.select option {
  background: #a8c1d340;
  border: 2px solid var(--font-secondary-color);
}
